[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
datedelta = "*"
holidays = "*"
numpy = "*"
flask-api = "*"
flask-cors = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3"
