[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
eralchemy = "*"

[packages]
fastapi = "*"
uvicorn = "*"
fastapi-sqlalchemy = "*"
pydantic = "*"
alembic = "*"
python-dotenv = "*"
requests = "*"
python-dateutil = "*"

[requires]
python_version = "3.8"
